In [18]:
import pandas as pd 
import matplotlib.pyplot as plt 
df = pd.read_csv("Fish.csv")
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [16]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [17]:
from sklearn.linear_model import LinearRegression 
df.dropna(inplace=True)

In [28]:
df.iloc[:,2:7]

     Length1  Length2  Length3   Height   Width
0       23.2     25.4     30.0  11.5200  4.0200
1       24.0     26.3     31.2  12.4800  4.3056
2       23.9     26.5     31.1  12.3778  4.6961
3       26.3     29.0     33.5  12.7300  4.4555
4       26.5     29.0     34.0  12.4440  5.1340
..       ...      ...      ...      ...     ...
154     11.5     12.2     13.4   2.0904  1.3936
155     11.7     12.4     13.5   2.4300  1.2690
156     12.1     13.0     13.8   2.2770  1.2558
157     13.2     14.3     15.2   2.8728  2.0672
158     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 5 columns]

In [29]:
df.iloc[:,1]

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [34]:
x= df.iloc[:,2:7].values
y= df.iloc[:,1].values

In [37]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree= 4)
x_poly = poly.fit_transform(x)

In [42]:
poly.fit(x_poly, y)
poly_reg = LinearRegression()
poly_reg.fit(x_poly, y)

LinearRegression()

In [45]:
r_squared= poly_reg.score(x_poly, y)
print('the R² score is ', r_squared)

the R² score is  0.973106695324281

In [ ]:
# The value of R² close to 1: indicates a positive linear relationship between the 2 variables x and y and the  more variability the model explains